

<br>

<div class="jumbotron jumbotron-fluid">
    <img src="/mk.jpg" class="card-img-top" alt="..." style="width 200px; height 200px;">
  <div class="container">
    <h1 class="display-4">My Profile</h1>
    <p class="lead">Fullname :{{myData.aboutme.Fullname}}</p>
    <p class="lead">My Birth day :{{myData.aboutme.B-date}}</p>
    <p class="lead">Age :{{myData.aboutme.Age}}</p>
    <p class="lead">Phone :{{myData.aboutme.Phone}}</p>
    <p class="lead">Email :{{myData.aboutme.Email}}</p>
    <p class="lead">Address :{{myData.aboutme.Address}}</p>
  </div>
</div>